.topspace
{
  margin-top : 10px;
}
.moretopspace
{
  margin-top : 18px;
}
.bottomspace
{
  margin-bottom : 10px;
}
.morebottomspace
{
  margin-bottom : 30px;
}
.leftspace
{
  margin-left : 20px;
}
.moreleftspace
{
  margin-left : 30px;
}
.paddingright
{
  padding-right : 20px;
}
.paddingbelow
{
  padding-bottom : 10px;
}
.bottomspace
{
  margin-bottom : 14px;
}
.borderright
{
  border-right : 1px solid black;
}
.break
{
  word-wrap: break-word;
}
.alignright
{
  text-align : right;
}
.alignleft
{
  text-align : left;
}
.textcenter
{
  text-align: center;
}
.mediumicon
{
  font-size : 40px;
}
[class*="col-"] {
  float: left;
}
[class*="col-"] {
  width: 100%;
}
/* custom css input text box */
input[type=text],select{
  border : 3px solid black;
  width : 90%;
  height : 50px;
  border-radius : 5px;
  font-size : 15px;
  padding-left : 10px;
}
/* custom css buttons */
button
{
  border : 3px solid black;
  font-size : 14px;
  padding-left : 20px;
  padding-right : 20px;
  padding-top : 5px;
  padding-bottom : 5px;
  border-radius : 7px;
}
/* cards using css */
.card
{
  border : 2px solid black;
  box-shadow : 15px 15px 10px black;
}
/* background shadow effect for the cards */
.boxShadow
{
  box-shadow : 15px 15px 10px black;
}
/* Small screen devices like mobile phones */
@media only screen and (min-width: 200px) {

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .container
  {
    margin-left : 10% ;
    margin-right: 10% ;
  }
}
  /* Medium screen devices like tablets: */
@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .container
  {
    margin-left : 10% ;
    margin-right: 10% ;
  }
}
  /* Large screen displays like  desktop: */
@media only screen and (min-width: 768px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
  .container
  {
    margin-left : 6% ;
    margin-right: 5% ;
  }
}
